.navbar-default {
	background-color: rgb(68,97,163);
}

.navbar-default .navbar-nav > li > a {
  color: white; 
}

.navbar-default .navbar-header > a {
  color: white;
}

.row {
	margin-bottom: 20px;
}