body {
	padding-top: 70px;
}

.navbar-default {
	background-color: black;
}

.navbar-default .navbar-nav > li > a {
  color: white; 
}

.navbar-default .navbar-header > a {
  color: white;
}

.jumbotron {
  padding: 10px;
  margin-bottom: 10px;
  color: inherit;
  background-color: #eee;
}

.row-post {
	background-color: black;
	margin: 0px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}

.row-post .col-md-2 > p {
	color: white;
	font-size: 20px;
}

.navbar-search {
	margin-top: 6px;
	margin-left: 100px;
	float:none;
}

.post-container {
	margin: 0 auto;
	max-width: 800px;
}

.post-image img {
	width: 100%;
}
.post-body {
	width: 100%;
	display: inline;
}

.post-links {
	width: 100%;	
	display: inline-block;
	padding-bottom: 5px;
}

.post-links p {
	display: inline;
	font-size: 12px; 
	padding: 0px;
}

.post-links ul {
	padding-left: 0px;
	font-size: 12px;
	display: inline;

}