{% extends "base.html" %}

{% block content %}
<body>
<div class = "container">
	<div class="jumbotron">
		<div class="row">
		  <!-- <div class="col-md-4"><img src="{{g.user.avatar(128)}}"></div> -->
		  <div class="col-md-8">
			  <p>Hello, {{g.user.nickname}}!</p>
		  </div>
		</div>
	</div>

{% include 'submit_post.html' %}

{% for post in posts.items %}
	{% include 'post.html' %}
{% endfor %}

{% if posts.has_prev %}<a href="{{ url_for('index', page = posts.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %} | 
{% if posts.has_next %}<a href="{{ url_for('index', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts >>{% endif %}

</div>
</body>

{% endblock %}

