<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<body>
<div class="jumbotron">
	<div class="row">
	  <div class="col-md-3">
	  	<img src="{{user.avatar(200)}}">
		</div>
	  <div class="col-md-4">
		  <h3>{{user.nickname}}</h3>
		  {% if user.website %}<p><a href="http://{{user.website}}">{{user.website}}</a></p>{% endif %}
		  {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
	  </div>
	  <div class="col-md-5">
		  <p>{{user.followers.count()}} followers</p>
		  {% if g.user.is_authenticated() %}
				{% if user.id == g.user.id %}
			  	<ul>
				  	<p><a href="{{url_for('edit')}}">Edit</a></p>
				  	<p><a href="{{url_for('new_post')}}">New Post</a></p>
			  	</ul>
			  {% elif not g.user.is_following(user) %}
			  	<a href="{{url_for('follow', nickname = user.nickname)}}">Follow</a>
	  	  {% else %}
	        <a href="{{url_for('unfollow', nickname = user.nickname)}}">Unfollow</a>
			  {% endif %}
		  {% endif %}
	</div>
</div>
</div>

{% for post in posts.items %}
	{% include 'post.html' %}
{% endfor %}

<div class="pagination">
	<ul class="pager">
		<li>{% if posts.has_prev %}<a href="{{ url_for('user', nickname = user.nickname, page = posts.prev_num) }}">Newer</a>{% endif %}</li>
		<li>{% if posts.has_next %}<a href="{{ url_for('user', nickname = user.nickname, page = posts.next_num) }}">Older</a>{% endif %}</li>
	</ul>
</div>

</body>
{% endblock %}